# Env
NODE_ENV = Complete with the nodejs enviroment that you're working on

# Port
PORT = Complete with port

#Log
LOG_LEVEL = Complete with the log level you want for your enviroment. In development i suggest the silly option

# Database
DATABASE_HOST = Complete with the database host
DATABASE_USERNAME = Complete with your DB userName   
DATABASE_PASSWORD = Complete with your DB password                             
DATABASE_NAME = Complete with the database name
DATABASE_PORT = Complete with the port where your DB is hosted
