# Env
NODE_ENV = Complete with the nodejs enviroment that you're working on

# Port
PORT = Complete with port

#Log
LOG_LEVEL = Complete with the log level you want for your enviroment. In development i suggest the silly option
